@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header,
.main,
footer {
    background-color: #1f2937;
}

.body {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'roboto', sans-serif;
}

.header {
    padding: 8px 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
    color: #f9faf8;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

header ol {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.main {
    display: flex;
    padding: 70px 15%;
}

.main-text {
    text-align: left;
    flex: 1;
}

.main-text h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 10px;
}

.main-text p {
    flex: 1 1 50%;
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
}

.main-text button {
    font-size: 20px;
    padding: 5px 20px;
    color: #E5E7EB;
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
}

.main-img {
    display: flex;
    justify-content: end;
    flex: 1 1 30%;
}

.main-img img {
    display: flex;
    width: 500px;
    height: auto;
}